# This is our code-style check. We currently allow the following exceptions:
#   - E731: do not assign a lambda expression, use a def
#   - E402: module level import not at top of file
#   - W503: line break before binary operator
#   - E203: whitespace before :

[flake8]
exclude = .git
max-line-length = 88
ignore = E731, E402, W503, E203, PAI100, PAI101, PAI201, PAI202, PAI203
per-file-ignores = __init__.py:F401, version.py:D100
